body {
    background: pink;
    font-family: 'Oswald', sans-serif;
    display: block;
}

.container {
    background: #cfcfcf;
    padding: 50px auto 50px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    padding-top: 20px;
     text-align: center;
}

h3 {
    text-align: center;
    padding: 20px;
}



