body {
    background: pink;
    font-family: 'Oswald', sans-serif;
    display: block;
}

.container {
    background: white;
   /* text-align: center; */
    padding: 50px auto 20px auto;
    margin-top: 50px;
}

h1 {
    padding-top: 20px;
     text-align: center;
}

h4 {
    text-align: center;
    padding: 20px;
}

#result {
    background: yellow;
    padding: 20px;
}

#newRow {
    border: 2px solid red;
    /* display: row; */
}

.navTabs {
    background-color: #eee;
} 

.tabs_nav {
    border: 1px solid #cfcfcf;
}
